#map {
  height: 100%;
}

#root {
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 99;
}

.fa-2x {
  padding-left: 10px;
  padding-right: 0;
  color: #000000;
}

.fa-star {
  padding-right: 7px;
}

.fa-star:hover {
  color: #ffd700;
  cursor: pointer;
}

.fa-search {
  padding-left: 10px;
  padding-right: 2px;
}

.search {
  display: flex;
  align-items: center;
}

.search-form {
  background-color: #ffffff;
}

.search-text {
  padding-left: 10px;
  height: 32px;
}

.search-submit {
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}

.search-submit:hover {
  background-color: #d3d3d3;
  color: #000000;
}

.results {
  margin-top: 30px;
  width: 266.5px;
}

.result-item {
  padding: 8px;
  background-color: #ffffff;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.result-item:hover {
  cursor: pointer;
  background-color: #3232d7;
  color: #ffffff;
}

.bottom-result-item {
  border-bottom: 1px solid #d3d3d3;
}
